<!-- Header -->
<mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="logo"></span>
    <span class="example-spacer"></span>
    <div class="search-box">
        <form role="search" class="in-suiteux-search-box">
            <span role="none">
                <!-- <button type="button" tabindex="-1" aria-hidden="true" class="search-btn">
                    <mat-icon>search</mat-icon>
                </button> -->
            </span>
            <input role="combobox" type="search" aria-autocomplete="list" aria-owns="ms-searchux-popup-0" accesskey="S"
                spellcheck="false" autocomplete="off" autocorrect="false" data-nav="true" data-tab="true"
                maxlength="500" class="search-input" aria-expanded="false" placeholder="Search this site"
                aria-label="Search box. Suggestions appear as you type.">
            <div role="listbox" aria-busy="true" tabindex="-1" style="display: none;" class="search-result-box"
                aria-label="Search suggestions">Search Results</div>
        </form>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with user icon"
        color="accent" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>General Settings</button>
        <button mat-menu-item>Account Settings</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Profile</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Logout</button>
    </mat-menu>
</mat-toolbar>
<!-- End of Header -->

<!-- Container -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a href="#" class="menu-item"><mat-icon>dashboard_customize</mat-icon> Dashboard</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Trademarks</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/trademarks" mat-button class="menu-item"> Trademarks</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Brand Protections</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/brand-protections" mat-button class="menu-item"> Brand Protections</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Compliance</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/compliances" mat-button class="menu-item"> Compliances</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Sales Tax</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/sales-taxes" mat-button class="menu-item"> Sales Taxes</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Withholding Tax</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/withholding-taxes" mat-button class="menu-item"> Withholding Taxes</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="all-padding-large scroll-container-main bootstrap-wrapper">
            <div class="full-width">
                <h1>Add Withholding Tax</h1>
            </div>

            <form [formGroup]="mainForm">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Accounting Years</mat-label>
                                    <input matInput matInput placeholder="Accounting Years" required formControlName="accountingYears"
                                        [(ngModel)]="item.accountingYears" />
                                    <mat-error
                                        *ngIf="mainForm.controls['accountingYears'].touched && mainForm.controls['accountingYears'].errors">
                                        Account years is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Demand Assessed</mat-label>
                                    <input matInput matInput placeholder="Demand Assessed" required formControlName="demandAssessed"
                                        [(ngModel)]="item.demandAssessed" />
                                    <mat-error
                                        *ngIf="mainForm.controls['demandAssessed'].touched && mainForm.controls['demandAssessed'].errors">
                                        Demand Assessed is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Demand Paid</mat-label>
                                    <input matInput matInput placeholder="Demand Paid" required formControlName="demandPaid"
                                        [(ngModel)]="item.demandPaid" />
                                    <mat-error
                                        *ngIf="mainForm.controls['demandPaid'].touched && mainForm.controls['demandPaid'].errors">
                                        Demand Paid is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Comments</mat-label>
                                    <input matInput matInput placeholder="Comments" required formControlName="comments"
                                        [(ngModel)]="item.comments" />
                                    <mat-error
                                        *ngIf="mainForm.controls['comments'].touched && mainForm.controls['comments'].errors">
                                        Comments are
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Action Point</mat-label>
                                    <input matInput matInput placeholder="Action Point" required formControlName="actionPoint"
                                        [(ngModel)]="item.actionPoint" />
                                    <mat-error
                                        *ngIf="mainForm.controls['actionPoint'].touched && mainForm.controls['actionPoint'].errors">
                                        Action Point is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <div class="full-width top-padding"></div>
            <div class="row">
                <div class="col-md-12 right-align">
                    <button mat-flat-button class="right-margin" color="accent" (click)="back()">Cancel</button>
                    <button mat-flat-button class="right-margin" color="primary" [disabled]="!mainForm.valid"
                        (click)="id ? update() : add()">Save</button>
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>