<!-- Header -->
<mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="logo"></span>
    <span class="example-spacer"></span>
    <div class="search-box">
        <form role="search" class="in-suiteux-search-box">
            <span role="none">
                <!-- <button type="button" tabindex="-1" aria-hidden="true" class="search-btn">
                    <mat-icon>search</mat-icon>
                </button> -->
            </span>
            <input role="combobox" type="search" aria-autocomplete="list" aria-owns="ms-searchux-popup-0" accesskey="S"
                spellcheck="false" autocomplete="off" autocorrect="false" data-nav="true" data-tab="true"
                maxlength="500" class="search-input" aria-expanded="false" placeholder="Search this site"
                aria-label="Search box. Suggestions appear as you type.">
            <div role="listbox" aria-busy="true" tabindex="-1" style="display: none;" class="search-result-box"
                aria-label="Search suggestions">Search Results</div>
        </form>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with user icon"
        color="accent" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>General Settings</button>
        <button mat-menu-item>Account Settings</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Profile</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Logout</button>
    </mat-menu>
</mat-toolbar>
<!-- End of Header -->

<!-- Container -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a href="#" class="menu-item"><mat-icon>dashboard_customize</mat-icon> Dashboard</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Trademarks</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/trademarks" mat-button class="menu-item"> Trademarks</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Brand Protections</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/brand-protections" mat-button class="menu-item"> Brand Protections</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Compliance</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/compliances" mat-button class="menu-item"> Compliances</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Sales Tax</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/sales-taxes" mat-button class="menu-item"> Sales Taxes</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="menu-item"><mat-icon>perm_data_setting</mat-icon> Manage Withholding Tax</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button routerLink="/withholding-taxes" mat-button class="menu-item"> Withholding Taxes</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="all-padding-large scroll-container-main bootstrap-wrapper">
            <div class="full-width">
                <h1>Add Sales Tax</h1>
            </div>

            <form [formGroup]="mainForm">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Description</mat-label>
                                    <input matInput matInput placeholder="Description" required formControlName="description"
                                        [(ngModel)]="item.description" />
                                    <mat-error
                                        *ngIf="mainForm.controls['description'].touched && mainForm.controls['description'].errors">
                                        Description is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Tax Year</mat-label>
                                    <input matInput matInput placeholder="Tax Year" required formControlName="taxYear"
                                        [(ngModel)]="item.taxYear" />
                                    <mat-error
                                        *ngIf="mainForm.controls['taxYear'].touched && mainForm.controls['taxYear'].errors">
                                        Tax Year is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Amount / Exposure (Rs.) m</mat-label>
                                    <input matInput matInput placeholder="Amount / Exposure (Rs.) m" required formControlName="amountExposure"
                                        [(ngModel)]="item.amountExposure" />
                                    <mat-error
                                        *ngIf="mainForm.controls['amountExposure'].touched && mainForm.controls['amountExposure'].errors">
                                        Amount / Exposure is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Provision in mln</mat-label>
                                    <input matInput matInput placeholder="Provision in mln" required formControlName="provision"
                                        [(ngModel)]="item.provision" />
                                    <mat-error
                                        *ngIf="mainForm.controls['provision'].touched && mainForm.controls['provision'].errors">
                                        Provision is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <hr class="top-margin">
            <h1>Comments</h1>
            <form [formGroup]="commentForm">
                <div class="col-md-10">
                    <div class="row">
                        <!-- Comment -->
                        <div class="col-sm-5">
                            <mat-form-field class="example-full-width">
                                <mat-label>Comment</mat-label>
                                <input matInput placeholder="Comment" formControlName="text"
                                    [(ngModel)]="comment.text" />
                            </mat-form-field>
                        </div>
                        <!-- Username -->
                        <div class="col-sm-5">
                            <mat-form-field class="example-full-width">
                                <mat-label>User</mat-label>
                                <input matInput placeholder="User" formControlName="userName"
                                    [(ngModel)]="comment.userName" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <button mat-flat-button class="right-margin" color="accent"
                                (click)="addComment()">Add</button>

                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-8">
                    <table mat-table [dataSource]="dataSource">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="sNo">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{ (element.createdOn |
                                date:'dd-MMM-yyy' || "NA") }} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="comment">
                            <th mat-header-cell *matHeaderCellDef> Comment </th>
                            <td mat-cell *matCellDef="let element"> {{ element.text || "NA"}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName || "NA"}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>

                </div>
            </div>

            <div class="full-width top-padding"></div>
            <div class="row">
                <div class="col-md-12 right-align">
                    <button mat-flat-button class="right-margin" color="accent" (click)="back()">Cancel</button>
                    <button mat-flat-button class="right-margin" color="primary" [disabled]="!mainForm.valid"
                        (click)="id ? update() : add()">Save</button>
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>